langchain
langchain-community
langchain-groq
langgraph
groq

pymupdf
pandas
openpyxl

qdrant-client
fastembed
rank-bm25

fastapi
uvicorn

streamlit
requests

sentence-transformers

python-dotenv
tiktoken
pydantic

pytest